<mat-form-field [class]="class" [appearance]="appearance">
    <mat-label>{{ label }}</mat-label>
    <mat-select [required]="required" (selectionChange)="select($event)" [multiple]="multiple" [formControl]="control" [placeholder]="placeholder" [(value)]="selected">
        <mat-option [value]="''" *ngIf="(control.value && !required || !control.value && !required) && !allowReset && !multiple">{{ emptyLabel }}</mat-option>
        <mat-option *ngFor="let option of options" [value]="option.value" [disabled]="option.disabled">{{ option.label }}</mat-option>
    </mat-select>
    <mat-icon matSuffix *ngIf="icon">{{ icon }}</mat-icon>
    <mat-error *ngIf="control.errors">{{ control.errors.required ? 'Required' : control.errors[0] }}</mat-error>
</mat-form-field>
