.ordered-meals{
  thead th{
    text-align: center !important;
  }
  tr
  {
    cursor: pointer !important;
    td{
      padding: 20px !important;
    }
  }
}


button{
  padding: 20px !important;
}
