.main-container, .main-bg{

    background: #212529 !important;
}

.mat-drawer{
  padding: 0 !important;
}

// .mat-drawer-content{
//   // min-height: 98vh !important;
// }

.app-content{
  overflow-x: scroll;
  background: #fff;
  min-height: 100vh;
}

.app-sidenav{
  transition: transform 0.2s linear, background 0s linear;
  background: #0000007a;
}

.top-nav{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}



.notifications{
  width: 500px;
  margin-left: -350px;
  padding: 20px 10px;

  .scrollable {
    max-height: 400px;
    overflow-y: scroll;
  }
}

@media(min-width: 144px) {

  .app-sidenav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    bottom: 0;
    width: 100%;

    :first-child{
        width: 60%;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
    }

  }

  .hidden-sm{
      transform: translateX(-100%);
  }

  .show-sm{
      display: block;
  }

  .current-time, .notification-li{
    display: none;
  }

}



@media(min-width: 640px){



  .notifications{
    width: 300px;
    margin-left: -350px;
    padding: 20px 10px;

    .scrollable {
      max-height: 400px;
      overflow-y: scroll;
    }
  }


  .show-sm{
      display: none;
  }

  .hidden-sm{
      visibility: visible !important;
      transform: translateX(0%);
  }

  .show-md{
      visibility: visible !important;
  }

  .app-sidenav{
      position: inherit;
      width: 25%;
      :first-child{
        width: 100%;
      }
  }
  .app-content{
      width: 75%;
      overflow-x: auto;
  }

  .app-sidenav, .app-content{
      display: inline-grid;
  }

  .current-time, .notification-li{
    display: unset;
  }

}

@media(min-width: 800px){



          .notifications{
            width: 500px;
            margin-left: -350px;
            padding: 20px 10px;

            .scrollable {
              max-height: 400px;
              overflow-y: scroll;
            }
          }


          .app-sidenav{
              position: inherit;
              width: 15%;
          }

          .app-content{
              width: 85%;
              overflow-x: auto;
          }

          .app-sidenav, .app-content{
              display: inline-grid;
          }

          .current-time, .notification-li{
            display: unset;
          }


}

a{
    cursor: pointer;
}

.align-10-dropdown-menu{
  left: -90px !important;
  position: absolute;
}

.align-15-dropdown-menu{
  left: -45px !important;
  position: absolute;
}

.align-g15-dropdown-menu{
  left: -20px !important;
  position: absolute;
}


.profile-picture{
  height: 40px !important;
  margin-top: -17px;
  margin-bottom: -13px;
  background: #fff;
}

.notification-body{
  display: inline;
  padding-left: 10px;
}

.navbar-nav .nav-item .nav-link .badge {
  position: absolute;
  margin-left: 0.75rem;
  top: 0.3rem;
  font-weight: 400;
  font-size: 0.5rem;
}

.dropdown-toggle::after {
  display: none;
}

.badge{
  margin-left: -5px !important;
  font-size: 0.7em !important;
}

.nav-item{
  margin-right: 10px;
}

.unread-notification{
  background: #e2eef9;
}

.app-logo{
  margin-top: -25px !important;
  height: 45px !important;
  margin-bottom: -15px !important;
}
