<br>

<div class="text-right">

    <button class="btn btn-primary btn-outline" (click)="composeSms()"><i class="fa fa-edit"></i> Compose Sms</button>
    <button class="btn btn-default btn-outline" (click)="resendChecked()"><i class="fa fa-send"></i> Resend All Checked</button>
    <button class="btn btn-danger btn-outline" (click)="deleteChecked()"><i class="fa fa-trash"></i> Delete All Checked</button>

</div>

<br><br>
<table class="table">
  <thead>
    <th>
        <mat-checkbox (change)="checkAllToggle()" [(ngModel)]="checked_all"></mat-checkbox>
    </th>
    <th>Created</th>
    <th style="width: 15%;">Sent</th>
    <th style="width: 10%;">Receiver</th>
    <th style="width: 50%;">Message</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let m of outbox">
      <td>
          <mat-checkbox (change)="checkChange(m)" [(ngModel)]="m.checked"></mat-checkbox>
        </td>
      <td>{{ m.created_at | date: 'MM/dd/yyyy  ha'  }}</td>
      <td>{{ m.sent_at != '0000-00-00 00:00:00' ? (m.sent_at | date: 'EEE MM/dd/yyyy  ha') : 'Pending'  }} <button class="btn btn-sm btn-default" (click)="resend(m)" *ngIf="m.sent_at == '0000-00-00 00:00:00'">Resend</button> </td>
      <td><span class="cname" matTooltip="{{ m.customer ? 'Customer: ' + m.customer.name : 'Unknown' }}">{{ m.receiver }}</span></td>
      <td>{{ m.message }}</td>
    </tr>
    <tr *ngIf="outbox.length == 0">
      <td colspan="4" style="height: 200px;"></td>
    </tr>
  </tbody>
</table>
