<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark top-nav">
  <button  class="btn btn-outline-secondary show-sm" (click)="$hideNav = false;"><i class="fa fa-navicon"></i> </button>
  <a class="navbar-brand" routerLink="/dashboard"><img class="app-logo" src="assets/images/hide-out-logo-small.png" alt=""></a>
  <ul class="navbar-nav ml-auto">
      <li class="nav-item current-time">
        <span class="nav-link">{{ timeNow }}</span>
      </li>
      <li class="nav-item dropdown notification-li"  *ngIf="currentUser.is_secured" ngbDropdown (openChange)="openNotificationTab($event)">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
          <i class="text-warning fa fa-bell">
              <span class="badge badge-danger" *ngIf="unread_notifications">{{ unread_notifications }}</span>
          </i>
        </a>
        <div ngbDropdownMenu  class="dropdown-menu notifications">
          <strong><i class="fa fa-bell fa-fw"></i> Notifications</strong>
          <br><br>
          <div class="scrollable">
            <table class="table">
              <tr [ngClass]="{'unread-notification': !n.read}" *ngFor="let n of notifications" (click)="$event.preventDefault()">
                <td style="padding: 10px !important;">
                  <strong style="color: #4d5761">{{ n.title }}</strong>
                  <br><br>
                  <img style="margin-bottom: 10px" src="{{ n.action_by_user !== null ? n.action_by_user.profile_picture_path : '/assets/images/img.png' }}" class="profile-picture rounded-circle" alt="">
                  <div class="text-muted notification-body">
                      <i>{{ n.body }}</i>
                  </div>
                  <br>
                  <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{ n.created_at | date: 'MMM dd, y h:m a'}}</small>
                </td>
              </tr>
              <tr *ngIf="notifications.length == 0 && !isFetchingNotification">
                <td class="text-muted">No Notifications</td>
              </tr>
              <tr *ngIf="isFetchingNotification">
                <td class="text-muted">Loading Notifications...</td>
              </tr>
          </table>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
          <i class="fa fa-user"></i>
          <img src="{{ currentUser.profile_picture_path }} " class="profile-picture rounded-circle" alt="">
          {{ currentUser.fullname }}
        </a>
        <div ngbDropdownMenu  [ngClass]="['dropdown-menu', (currentUser.fullname.length < 10 ? 'align-10-dropdown-menu': ((currentUser.fullname.length < 15 ? 'align-15-dropdown-menu':'align-g15-dropdown-menu')) )]" aria-labelledby="navbarDropdown">
          <a *ngIf="currentUser.role == 1" routerLink="/users" class="dropdown-item"><i class="fa fa-users"></i> Manage Users</a>
          <a *ngIf="currentUser.role == 1" routerLink="/configurations" class="dropdown-item"><i class="fa fa-cogs"></i> System Configuration</a>
          <a class="dropdown-item" (click)="showChangePasswordModal(changePasswordModal)"  *ngIf="currentUser.is_secured"><i class="fa fa-edit"></i> Change Password</a>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </li>
    </ul>
</nav> -->
