<mat-card>
  <mat-card-title>
    <h2><i class="fa fa-spoon"></i> Snack Hauz</h2>
    <hr>
  </mat-card-title>
  <mat-card-content>

    <div class="row">
      <div class="col-lg-2">
        <a routerLink="/snack-hauz/orders">
          <mat-card>
            <mat-card-title>
              <h3><i class="fa fa-shopping-cart"></i> Orders</h3>
            </mat-card-title>
          </mat-card>
        </a>
      </div>
      <div class="col-lg-2">
        <a routerLink="/snack-hauz/menus">
          <mat-card>
            <mat-card-title>
              <h3><i class="fa fa-bars"></i> Menus</h3>
            </mat-card-title>
          </mat-card>
        </a>
      </div>
    </div>

  </mat-card-content>
</mat-card>
